.carousel-slider {
  position: relative;
}

.carousel-next,
.carousel-prev {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 2rem;
  z-index: 100000;
}

.carousel-prev {
  left: 0;
  margin-left: 1rem;
}
.carousel-next {
  right: 0;
  margin-right: 1rem;
}

.gallery {
  width: 35%;
}

@media screen and (min-width: 768px) {
  .carousel {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .gallery {
    display: none;
  }
}
