.carousel-slider {
  position: relative;
}

.carousel-next,
.carousel-prev {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 175px;
  font-size: 2rem;
  z-index: 1000;
}

.carousel-prev {
  left: 0;
  margin-left: 1rem;
}
.carousel-next {
  right: 0;
  margin-right: 1rem;
}

.gallery {
  width: 35%;
}

.active {
  position: relative;
}

.active .overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid var(--orange);
}

@media screen and (min-width: 768px) {
  .carousel {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    display: none;
  }
}

@media screen and (min-width: 450px) {
  .carousel-next,
  .carousel-prev {
    top: 280px;
  }
}
