@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 320px) {
  .App {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
